@media(max-width: 425px) {

    header {
        flex-direction: column;

    }


    .titulo{
        font-size: 40px;
        margin: 0px 0px 0px 55px;
      
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 35px;
        

    }

    a {
        font-size: 40px;
        padding: 15px 30px;

    }

    .btn {
        margin-top: 30px;
        width: 151px;
        height: 55px;

    }

}